.order{
    width: 75vw;
    height: 4em;
    background-color: #fff;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    padding: 1.5em;
    margin: .5em;
    justify-content: center;
    color:333;
}

.order div{
    flex:1;
    padding: 1.5em;
    flex-grow: 1;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    font-size: 1.2em;
}

.orders div{
    flex:1;
    padding: 0;
    flex-grow: 1;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    font-size: 1em;
    display: flex;
}

span{
    flex-grow: 1;
    display: flex;
    text-align: right;
    justify-content: center;
}

.dishname{
    flex-grow: 3;
}
