.supplier{
    width: 75%;
    height: 5em;
    background-color: #fff;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    border: 1px solid #aaa;
    padding: 2em;
    margin: .5em;
}

.suppLeft, .suppCenter, .suppRight{
    text-align: left;
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;    
}

.suppLeft{
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-size: 2em;
    font-weight: 600;
    color: #222;
}

.suppCenter, .suppRight{
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    font-weight: 100;
    font-size: 1.2em;
    color: #333;
}

.suppLeft{
    padding-left: 1em;
    justify-content: start;
}

.suppRight{
    justify-content: flex-end;
}

.suppInfo{
    justify-content: flex-end;
    text-align: right;
    margin-right: 1em;
}
.suppButton{
    background-color: #00917C;
    color: #eee;
    border: 0;
    font-size: 1em;
    padding: .25em;
    border-radius: .25em;
}

.suppButton:hover{
    font-size: 1.075em;
    transition: .5s cubic-bezier(0.075, 0.82, 0.165, 1);
}


/* 
@media only screen and (max-width: 768px){
    .navLeft{
        font-size: min(5vh,6vw);
        width: 110%;
        padding-right: 0%;
        flex-grow: 99;
        text-align: start;
        padding: 5%;
    }
    .navRight{
        background: #ccc;
        margin-top: 50px;
        width: 0%;
        padding: 0%;
        display: none;
    }
    .navRight > .navButtons{
        right: 0%;
        display: flex;
        position: absolute;
        background: #ccc;
        height: 300vh;
        flex-direction: column;
        justify-content: flex-start;

    }
    .navRight > .navButtons > .navButtonItem{
        flex-grow:0;
        padding-top: 45%;
    }
    .navBtn{
        display: block;
        pointer-events: all;
        cursor: pointer;
    }
    .navCenter{
        flex-grow:1;
        justify-self: flex-end;
        padding: 3%;
        font-size: large;
    }

    .navRight_Big{
        display:block;
        align-items: center;
        justify-content: center;
        padding: 0%;
    }
    .content_Small{
        display:block;
    }
    .navMiddle_Toggle{
        padding:0%;
    }

} */